# ignore python cache files
__pycache__/
*.pyc
# ignore virtual environment
bin/
lib/
lib64
include/
pyvenv.cfg
# ignore editor files
.vscode/
.idea/
*.swp
# ignore pdf files
*.pdf
scripts/stockfish
*.log
# ignore players data
json/player_*.json
json/cache_analyses.json
.continue
.venv
.aider*
